.parrafoacercademi{
    height: auto;
    margin-top: 80px;
    text-align: justify;
    padding: 0 160px 0 160px;
    font-size: 20px;
    text-align: center;
}

.comunidad{
    font-size: 25px;
    font-family: 'Manrope', sans-serif;
    margin-top: 40px;
    text-align: center;
    color:#C46A2C
}

.boton_acerca{
    width: 350px;
    height: 50px;
}

.img-acercademi{
    width: 100%;
    height: auto;
}

@media(max-width:768px){
   
    .parrafoacercademi{
        font-size: 16px;
        padding: 0 30px 0 30px;
        margin-top: 30px;
    }

    .img-fluid{
        padding-top: 85px;
    }
}