// Usaré las variables en los valores que solo contiene el Parshall general

// Colores
$colorBtnH4: #FFFCF9;
$colorDiferentOne:#D6B68C;
$colorDiferentTwo:#C46A2C;
$colorParrafo:#626160;

// Tamaños de fuente
$h1Fs: 35px;
$h3Fs: 25px;
$h4Fs:40px;
$btnFs: 16px;

// logo
$heightLog: 90px;